.wrapper{
    height: 800px;
    position: relative;
    background: linear-gradient(to top right, #33ccff -62%, #ffcccc 52%)
}
.logo1{
    float:left;
    margin: 118px 0 0 86px;
}
.girlImage{
    float:right;

}
.titleword{
    position: absolute;
    color: hsl(0, 36%, 70%);
    font-family: Josefin Sans;
    letter-spacing: 12px;
    width: 5px;
    margin: 253px 0 0 86px;
}
.secondeWord{
    color: black;
    margin: 302px 0 0 86px;
}
.textBox{
    width: 378px;
    height: 40px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    outline: none;
    margin: 481px 0 0 -153px;
    padding: 0 0 0 35px;
}
.errorImage{
    position: absolute;
    margin: 489px 0 0 165px;
}
